.Background{
	background-color: #fffdd0;
}
.result{
	display: none;
}
#Heading_primary{
	text-align: center;
	color: #fffdd0;
	background-position: center;
	background-color: powderblue;
}
.m1{
	background-color: grey;
}
.image_top{
	display: flex;
	justify-content: center;
	justify-content: space-around;
}
@media screen and(max-width: 40%){
	body{
		background-size: contain;

	}	
}